<div class="data-dynamic-container">
  <div class="canvas-container" style="display: block; margin-top:25px;">
    <canvas baseChart width="1080" height="300" [datasets]="lineChartData" [labels]="lineChartLabels"
      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
    </canvas>
  </div>

  <div class='axis-select-container'>
    <!-- <mat-form-field>
      <mat-label>Value in X-Axis</mat-label>
      <mat-select [(value)]="selectedY" (selectionChange)="selectionChangeY($event)">
        <mat-option *ngFor="let data of yDataList" [value]="data.value">
          {{data.label}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>Value in Y-Axis</mat-label>
      <mat-select [(value)]="selectedY" (selectionChange)="selectionChangeY($event)">
        <mat-option *ngFor="let data of yDataList" [value]="data.value">
          {{data.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <!-- <button class="download"> Download</button> -->

  </div>
  <!--
  <ag-grid-angular class="ag-theme-balham-dark"
    style="width: 500px; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
  </ag-grid-angular> -->
</div>

<div class="dashboard-analytics">
  <div class="col-md-2 key-analytic-one">
    <h3 style="font-size: 18px;">{{loanPerformancePayload[0].statName}}</h3>
    <h4  style="color: #05ffa1;"><i class="fas fa-caret-up"></i>  {{loanPerformancePayload[0].statValue}}</h4>
    <h5 style="font-size: 12px;">{{loanPerformancePayload[0].statUpdate}}</h5>
  </div>
  <div class="col-md-2 stat-analytic">
    <div class="row">
      <div class="col-md-12 stat-analytic--one">
        <h3 style="font-size: 22px; padding-top: 12px;">{{loanPerformancePayload[1].statValue}}</h3>
        <h5 style="font-size: 14px;">{{loanPerformancePayload[1].statName}}</h5>
        <p style="font-size: 10px;">{{loanPerformancePayload[1].statUpdate}}</p>
      </div>
      <div class="col-md-12 stat-analytic--two">
        <h3 style="font-size: 22px; padding-top: 12px;">{{loanPerformancePayload[2].statValue}}</h3>
        <h5 style="font-size: 14px;">{{loanPerformancePayload[2].statName}}</h5>
        <p style="font-size: 10px;">{{loanPerformancePayload[2].statUpdate}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 stat-analytic">
    <div class="row">
      <div class="col-md-12 stat-analytic--one">
        <h3 style="font-size: 22px; padding-top: 12px;">{{loanPerformancePayload[3].statValue}}</h3>
        <h5 style="font-size: 14px;">{{loanPerformancePayload[3].statName}}</h5>
        <p style="font-size: 10px;">{{loanPerformancePayload[3].statUpdate}}</p>
      </div>
      <div class="col-md-12 stat-analytic--two">
        <h3 style="font-size: 22px; padding-top: 12px;">{{loanPerformancePayload[4].statValue}}</h3>
        <h5 style="font-size: 14px;">{{loanPerformancePayload[4].statName}}</h5>
        <p style="font-size: 10px;">{{loanPerformancePayload[4].statUpdate}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 key-analytic-two">
    <h3 style="font-size: 18px;">{{loanPerformancePayload[7].statName}}</h3>
    <h4 style="color: #05ffa1;"><i class="fas fa-caret-up"></i> {{loanPerformancePayload[7].statValue}}</h4>
    <h5 style="font-size: 12px;">{{loanPerformancePayload[7].statUpdate}}</h5>
  </div>
  <div class="col-md-2 stat-analytic">
    <div class="row">
      <div class="col-md-12 stat-analytic--one">
        <h3 style="font-size: 22px; padding-top: 12px;">{{loanPerformancePayload[5].statValue}}</h3>
        <h5 style="font-size: 14px;">{{loanPerformancePayload[5].statName}}</h5>
        <p style="font-size: 10px;">{{loanPerformancePayload[5].statUpdate}}</p>
      </div>
      <div class="col-md-12 stat-analytic--two">
        <h3 style="font-size: 22px; padding-top: 12px;">{{loanPerformancePayload[6].statValue}}</h3>
        <h5 style="font-size: 14px;">{{loanPerformancePayload[6].statName}}</h5>
        <p style="font-size: 10px;">{{loanPerformancePayload[6].statUpdate}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 stat-analytic">
    <div class="row">
      <div class="col-md-12 stat-analytic--one">
        <h3 style="font-size: 22px; padding-top: 12px;">{{loanPerformancePayload[8].statValue}}</h3>
        <h5 style="font-size: 14px;">{{loanPerformancePayload[8].statName}}</h5>
        <p style="font-size: 10px;">{{loanPerformancePayload[8].statUpdate}}</p>
      </div>
      <div class="col-md-12 stat-analytic--two">
        <h3 style="font-size: 22px; padding-top: 12px;">{{loanPerformancePayload[9].statValue}}</h3>
        <h5 style="font-size: 14px;">{{loanPerformancePayload[9].statName}}</h5>
        <p style="font-size: 10px;">{{loanPerformancePayload[9].statUpdate}}</p>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-table" style="padding-bottom: 30px;">
  <div class="col-md-12 dashboard-table--border"></div>
  <div class="col-md-12 dashboard-table--header">
    <div class="col-md-4" style="text-align: right; padding-top: 20px;">
       Overview
    </div>
  </div>

  <div class="col-md-12 dashboard-table--header">
    <div class="col-md-4" style="text-align: right; font-size: 20px; font-weight: 300;">
        <p>First Quarter Results <i class="fas fa-download"></i></p>
        <p style="font-size: 12px;"><i style="color: 	#009246;" class="fas fa-clock"></i> Updated 20 May, 2019</p>
    </div>
  </div>

  <div class="table-header">
    <div class="col-md-4" style="text-align: right;">
        <i class="fas fa-info-circle"></i> FIELD NAME
    </div>
    <div class="col-md-1" style="text-align: right;">
        <i class="fas fa-dollar-sign"></i> VALUE
    </div>
    <div class="col-md-1" style="text-align: right;">
        <i class="fas fa-chart-line"></i> CHANGE
    </div>
    <div class="col-md-1" style="text-align: right;">
      %CHANGE
    </div>
    <div class="col-md-1" style="text-align: right;">
        <i class="fas fa-burn"></i> HIGH
    </div>
    <div class="col-md-1" style="text-align: right;">
        <i class="fas fa-poo"></i> LOW
    </div>
  </div>
  <div class="row" style="padding-top: 10px;"></div>
  <div *ngFor="let row of performanceFile" class="table-header overview-table-row">
    <div class="col-md-4" style="text-align: right;">
      {{row.statName}}
    </div>
    <div class="col-md-1" style="text-align: right;">
      {{row.statValue}}
    </div>
    <div class="col-md-1" style="text-align: right;">
      {{row.statChange}}
    </div>
    <div class="col-md-1" style="text-align: right;">
      {{row.statChangePercent}}
    </div>
    <div class="col-md-1" style="text-align: right;">
      {{row.statHigh}}
    </div>
    <div class="col-md-1" style="text-align: right;">
      {{row.statLow}}
    </div>
  </div>
</div>

<div class="col-md-12 dashboard-table--border"></div>
<div class="dashboard">
  <div class="col-md-12 dashboard-table--header">
    <div class="col-md-4" style="text-align: right; padding-top: 20px;">
      Loan Performace Averages
      <p style="font-size: 20px; font-weight: 300;">First Quarter Results</p>
      <p style="font-size: 12px; font-weight: 100;"><i style="color: 	#009246;" class="fas fa-clock"></i> Updated 20 May, 2019</p>
    </div>
  </div>
  <div class="dashboard--item">
    <div class="dashboard--description">Original Debt to Income Ratio</div>
    <div class="dashboard--data">
      <div class="dashboard--data--numbers">
        $30,652
      </div>
      <div class="dashboard--data--additional">
        <span class="color-positive">+34%</span> since Q2
      </div>
    </div>
  </div>
  <div class="dashboard--item">
    <div class="dashboard--description">Assest Recovery Costs</div>
    <div class="dashboard--data">
      <div class="dashboard--data--numbers">
        $30,652
      </div>
      <div class="dashboard--data--additional">
        <span class="color-negative">-.12%</span> since Q2
      </div>
    </div>
  </div>
  <div class="dashboard--item">
    <div class="dashboard--description">Principle Forgiveness Amount</div>
    <div class="dashboard--data">
      <div class="dashboard--data--numbers">
        $30,652
      </div>
      <div class="dashboard--data--additional">
        <span class="color-positive">+34%</span> since Q2
      </div>
    </div>
  </div>
  <div class="dashboard--item">
    <div class="dashboard--description">Credit Enhancement Proceeds</div>
    <div class="dashboard--data">
      <div class="dashboard--data--numbers">
        $30,652
      </div>
      <div class="dashboard--data--additional">
        <span class="color-negative">-14%</span> since Q2
      </div>
    </div>
  </div>
  <div class="dashboard--item">
    <div class="dashboard--description">Non Interest Bearing UPB</div>
    <div class="dashboard--data">
      <div class="dashboard--data--numbers">
        $30,652
      </div>
      <div class="dashboard--data--additional">
        <span class="color-positive">+34%</span> since Q2
      </div>
    </div>
  </div>
  <div class="dashboard--item">
    <div class="dashboard--description">Net Sale Proceeds</div>
    <div class="dashboard--data">
      <div class="dashboard--data--numbers">
        $30,652
      </div>
      <div class="dashboard--data--additional">
        <span class="color-positive">+34%</span> since Q2
      </div>
    </div>
  </div>
</div>
