<div class="lppub-container">
  <div class="canvas-container" style="display: block;">
    <canvas baseChart width="1080" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>
  </div>

  <div class='axis-select-container'>
    <!-- <mat-form-field>
      <mat-label>Value in X-Axis</mat-label>
      <mat-select [(value)]="selectedX" (selectionChange)="selectionChangeX($event)">
        <mat-option *ngFor="let data of xDataList" [value]="data.value">
          {{data.label}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>Value in Y-Axis</mat-label>
      <mat-select [(value)]="selectedY" (selectionChange)="selectionChangeY($event)">
        <mat-option *ngFor="let data of yDataList" [value]="data.value">
          {{data.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ag-grid-angular class="ag-theme-balham-dark"
    style="width: 500px; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs">
  </ag-grid-angular>
</div>
