<!-- <div class="container">
  <h1>File upload box</h1>
  
  <div class="upload">
    <div class="upload-box">
      <i class="fa fa-cloud-upload fa-4x"></i>
      <div class="edit">
        <span>Drag and drop a resume, or</span>
        <button class="button primary">Select a file</button>
      </div>
    </div>
  </div>
</div> -->

<!-- 
<div class -->

<!-- <form [formGroup]="userForm"> -->
<!-- <label> First Name </label>

  <input type="text">

  <label> Last Name</label>

  <input type="text">
  <label> Organization</label>
  <input type="text"> -->

<!-- </form> -->

<a (click)="handleBack()" class="back-text">
  ← Go Back </a>