<div class="background">
  <div class="background__title">
      <img src="../../assets/images/fnmalogo.jpg" height="84" width="84">
    <h4 style="color: #2a2a2a; font-weight: 300;">Fannie Mae | Data Warehouse</h4>
    <h3 style="padding-top: 5px;">View, analyze or upload public Fannie Mae data all in one place.</h3>
  </div>
</div>

<div class="cards-row">
  <div class="col-md-6">
    <div class="cards-row__card-left" (click)="navigate()">
      <img src="../../assets/images/undraw_data_report_bi6l.png" height="200" width="224">
      <h4 style="font-size: 17px; color: #2a2a2a; font-weight: 300;">View Collection</h4>
    </div>
  </div>
  <div class="col-md-6">
    <div class="cards-row__card-right">
      <img src="../../assets/images/undraw_add_file2_gvbb.png" height="200" width="224">
      <h4 style="font-size: 17px; color: #2a2a2a; font-weight: 300;">Manage Data</h4>
    </div>
  </div>
</div>

<footer align="center">
  <div class="menus">
    <p>Fannie Mae © - 2019</p>
  </div>
</footer>
