.background {
  text-align: center;

  &__title {
    margin-top: 3%;
  }
}

.cards-row {
  display: flex;

  &__card-left {
    text-align: center;
    float: right;
    opacity: .3;
  }

  &__card-right {
    float: left;
    text-align: center;
    opacity: .3;

  }

  &__card-left:hover {
    text-align: center;
    float: right;
    opacity: 1;
    cursor: pointer;
  }

  &__card-right:hover {
    float: left;
    text-align: center;
    opacity: 1;
    cursor: pointer;
  }
}

img {
  margin: 4px 4px 4px 4px;
}

footer {
  color: #ffffff;
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background-color: #05314d;
}

.menus {
  font-size: 10px;
  font-weight: 100;
  padding-top: 7px;
}

