<div class="background">


  <!-- <h1 style="position: relative; top:150px; color: whitesmoke; text-align:center;"> Welcome to Data Warehouse</h1> -->

  <h1 style="color: whitesmoke; text-align:center;margin-top:125px;"> Welcome to Data Warehouse</h1>

  <p style="color: white; margin:20px 20% "> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
    of type and scrambled it to make a type specimen book. </p>

  <div class="btn-default" style=" text-align: center;">
    <!-- <button> Get Started</button> -->
    <button class="btn btn-light" mat-button (click)="navigate()">Get Started</button>

  </div>
</div>